@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Vollkorn&display=swap");

.bg-imarah-card {
  background-color: #f8efba;
}

.imarah-font-1 {
  font-family: "Merriweather", serif;
}

.imarah-font-2 {
  font-family: "Vollkorn", serif;
}

.carousel-item > img {
  height: 584px;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
}

.carousel-caption > h1 {
  text-shadow: 2px 2px 4px #000000;
}

.card-custom-border {
  border-radius: 26px;
}
