.carousel-item > img {
  height: 584px;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
}

.carousel-caption > h1 {
  text-shadow: 2px 2px 4px #000000;
}

.special-plan {
  border-radius: 26px;
}
